.slider {
    width: 400px;
    height: 575px;
    margin: 30px auto;
    overflow: hidden;
}
.slider-line {
    height: 575px;
    width: 700px;
    display: flex;
    position: relative;
    left: 0;
    transition: all ease 1s;
}
.buttons {
    display: flex;
    justify-content: center;
}
.slider-prev {
    width: 50px;
    border: none;
    background: linear-gradient(70deg, #60a8ff, #ffd8a5);
    padding: 8px;
    font-size: 15px;
    font-style: italic;
}
.slider-next {
    width: 50px;
    border: none;
    background: linear-gradient(70deg, #ffd8a5, #60a8ff);
    padding: 8px;
    font-size: 15px;
    font-style: italic;
}